<!-- hack LUCIO - start -->
<script type="text/javascript">
//<![CDATA[
var address_value;
var zip_value;
var city_value;
var country_value;
var request_value;
var lat_value;
var lon_value;
var zoom_value;
function getLatLonZoom()
	{
	if (document.getElementById);
		{
		address_value = document.getElementById("input_address").value;
		zip_value = document.getElementById("input_zip").value;
		city_value = document.getElementById("input_city").value;
		country_value = document.getElementById("input_country").value;
		request_value = address_value+','+zip_value+','+city_value+','+country_value;
		if (request_value == ',,,') request_value = '<{$default_address}>';
		lat_value = document.getElementById("lat").value;
		lon_value = document.getElementById("lon").value;
		zoom_value = document.getElementById("zoom").value;
		}
	if (!lat_value) lat_value = <{$default_lat}>;		
	if (!lon_value) lon_value = <{$default_lon}>;
	if (!zoom_value) zoom_value = <{$default_zoom}>;
	}
//]]>
</script>
<!-- hack LUCIO - end -->
<p align='center'>
	<a href="<{$xoops_url}>/modules/addresses/index.php"><img src="<{$xoops_url}>/modules/addresses/images/logo.gif" alt="" /></a>
</p>
<h4><{$lang_submitlinkh}></h4>
<ul>
	<li><{$lang_submitonce}></li>
	<li><{$lang_allpending}></li>
	<li><{$lang_dontabuse}></li>
	<li><{$lang_wetakeshot}></li>
	<li><{$lang_bannertise}></li>
</ul>
<br />
<form action="address_submit.php" method="post">
<table width="80%" cellpading = "2" cellspacing = "1" class = "outer">
<tr>
	<td align="right" nowrap colspan="2" class="itemHead"> 
		<div align="left"><b>&nbsp;</b></div>
	</td>
</tr>
<tr>
	<td class="head" align="right" nowrap><{$lang_sitetitle}>*</td>
	<td class="even"><input type="text" name="title" size="50" maxlength="100" /></td>
</tr>
<!--
<tr> 
	<td class="head" align="right" nowrap><div align="left"><b><{$lang_siteurl}></b></div></td>
	<td class="odd"><input type="text" name="url" size="50" maxlength="255" value="http://" /></td>
</tr>
-->
<tr>
	<td class="head" align="right" nowrap><{$lang_category}>*</td>
	<td class="even"><{$category_selbox}></td> 
</tr>
<!-- start addresses extra -->
<!-- hack LUCIO - start -->
<tr>
	<td class="head" align="right"><{$lang_address}>*</td>
	<td class="even"><input type="text" name="address" id="input_address" size="50" maxlength="100" /></td>
</tr>
<tr>
	<td class="head" align="right"><{$lang_zip}>*</td>
	<td class="even"><input type="text" name="zip" id="input_zip" size="20" maxlength="20" /></td>
</tr>
<tr>
	<td class="head" align="right"><{$lang_city}>*</td>
	<td class="even"><input type="text" name="city" id="input_city" size="50" maxlength="100" /></td>
</tr>
<tr>
	<td class="head" align="right"><{$lang_country}></td>
	<td class="even"><input type="text" name="country" id="input_country" size="50" maxlength="100" /></td>
</tr>
<tr>
	<td align="right" class = 'head'><{$lang_lat}></td>
	<td class = 'even'><input type="text" name="lat" id="lat"  size="15" maxlength="30" value="<{$link.lat}>" /></td>
</tr>
<tr>
	<td align="right" class = 'head'><{$lang_lon}></td>
	<td class = 'even'><input type="text" name="lon" id="lon"  size="15" maxlength="30" value="<{$link.lon}>" /></td>
</tr>
<tr>
	<td align="right" class = 'head'><{$lang_zoom}></td>
	<td class = 'even'><input type="text" name="zoom" id="zoom"  size="15" maxlength="30" value="<{$link.zoom}>" /></td>
</tr>
<tr>
	<td align="right" class = 'head'><{$lang_map}></td>
	<td class = 'even'>
		<input type="button" name="<{$lang_map}>" value="<{$lang_map}>" 
			onclick="getLatLonZoom();window.open('<{$xoops_url}>/modules/addresses/google_maps_popup.php?lat='+lat_value+'&lon='+lon_value+'&zoom='+zoom_value+'&request='+request_value,'google_map_window','<{$popup_options}>');" />
	</td>
</tr>
<!-- hack LUCIO - end -->
<tr>
	<td class="head" align="right" nowrap><{$lang_phone}></td>
	<td class="even"><input type="text" name="phone" size="20" maxlength="20" /></td>
</tr>
<tr>
	<td class="head" align="right" nowrap><{$lang_mobile}></td>
	<td class="even"><input type="text" name="mobile" size="20" maxlength="20" /></td>
</tr>
<tr>
	<td class="head" align="right" nowrap><{$lang_fax}></td>
	<td class="even"><input type="text" name="fax" size="20" maxlength="20" /></td>
</tr>
<tr>
	<td class="head" align="right" nowrap><{$lang_contemail}></td>
	<td class="even"><input type="text" name="contemail" size="50" maxlength="100" /></td>
</tr>
<tr>
	<td class="head" align="right" nowrap><{$lang_siteurl}></td>
	<td class="even"><input type="text" name="url" size="50" maxlength="255" /></td>
</tr>
<tr>
	<td class="head" align="right" valign="top" nowrap><{$lang_opened}></td>
	<td class="even"><textarea cols="40" rows="4" class="text" name="opentime"></textarea></td>
</tr>
<!-- end addresses extra -->
<tr> 
	<td class="head" align="right" valign="top" nowrap><{$lang_description}>*</td>
	<td class="even"><textarea cols="40" rows="7" class="text" name="message"></textarea></td>
<!--
	<td class="odd" ><{$xoops_codes}><{$xoops_smilies}></td>
-->
</tr>
<tr>
	<td class="head" align="right" valign="top"><{$lang_options}></td>
	<td class="even" >
<{if $notify_show}>
		<input type="checkbox" name="notify" value="1"><{$lang_notify}></input>
<{/if}>
	</td>
</tr>
<tr>
	<td colspan="2" align="center" class = 'even'><br />
		<input type="submit" name="submit" class="button" value="<{$lang_submit}>" />
		&nbsp;
		<input type="button" value="<{$lang_cancel}>" onclick="javascript:history.go(-1)" />
	</td>
</table>
<br />

</form>
