</div>
<br />
<table width="100%" cellspacing="0" border="0">
<!-- ingevoegd -->
<tr><td><a href='javascript:history.back(1)'><b>&laquo;<{$lang_previous}></b></a></td></tr>
<!-- eind ingevoegd -->
<tr>
	<td align="center"><!-- include viewaddress.html -->
		<{include file="db:addresses_viewaddress.html" address=$address}>
	</td>
</tr>
<!-- ingevoegd -->
<tr><td><a href='javascript:history.back(1)'><b>&laquo;<{$lang_previous}></b></a></td></tr>
<!-- eind ingevoegd -->
</table>

<!-- <div style="text-align: center; padding: 3px; margin:3px;">
<{$commentsnav}>
<{$lang_notice}>
</div>

<div style="margin:3px; padding: 3px;">
<!-- start comments loop -->
<!-- <{if $comment_mode == "flat"}>
<{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
<{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
<{include file="db:system_comments_nest.html"}>
<{/if}> -->
<!-- end comments loop -->
<!-- </div> -->
<!-- <{include file='db:system_notification_select.html'}> -->
