<p align="center">
	<a href="<{$xoops_url}>/modules/addresses/index.php"><img src="<{$xoops_url}>/modules/addresses/images/logo.gif" border="0" alt="" /></a>
</p>
<br />
<{if $category_show_map}>
<!-- Google Maps - start -->
<script src="http://maps.google.com/maps?file=api&v=2&key=<{$api_key}>" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
	var map = null;

	Array.prototype.max = function()
		{
		return Math.max.apply({},this)
		}
	Array.prototype.min = function()
		{
		return Math.min.apply({},this)
		}

	// Create new marker icon
	var icon = new Array();
		icon["red"] = new GIcon();
		icon["red"].image = "images/mm_20_red.png";
		icon["red"].iconSize = new GSize(12, 20);
		icon["red"].shadow = "images/mm_20_shadow.png";
		icon["red"].shadowSize = new GSize(22, 20);
		icon["red"].iconAnchor = new GPoint(6, 20);
		icon["red"].infoWindowAnchor = new GPoint(5, 1);
		icon["blue"] = new GIcon();
		icon["blue"].image = "images/mm_20_blue.png";
		icon["blue"].iconSize = new GSize(12, 20);
		icon["blue"].shadow = "images/mm_20_shadow.png";
		icon["blue"].shadowSize = new GSize(22, 20);
		icon["blue"].iconAnchor = new GPoint(6, 20);
		icon["blue"].infoWindowAnchor = new GPoint(5, 1);

	function createNewMarker(new_point,icon,description)
		{
		var marker = new GMarker(new_point,{icon:icon});
		map.addOverlay(marker);
		GEvent.addListener(
			marker,
			"click",
			function()
				{
				marker.openInfoWindowHtml(description);
				}
			);
		return marker;
		}

	function showMap()
		{
		if (GBrowserIsCompatible())
			{
			map_div = document.getElementById('google_map')
			map = new GMap2(map_div);
			map.addControl(new GSmallMapControl());
			map.addControl(new GMapTypeControl());
			map.addControl(new GScaleControl());
			map.setCenter(new GLatLng(45.5,10), 8);
			// marker
			var description = '<{$link.title}>';
			var lat = parseFloat(<{$link.lat}>);
			var lon = parseFloat(<{$link.lon}>);
			var zoom = parseInt(<{$link.zoom}>);
			if (!zoom)
				{
				zoom = <{$default_zoom}>};
			if (lat && lon)
				{
				createNewMarker(new GLatLng(lat,lon),icon["red"],description);
				// sets map center and bounds
				map.setCenter(new GLatLng(lat,lon),zoom);
				}
			}
		}

	function addEvent(obj,ev,fn){
		if(obj.addEventListener) {
			// metodo w3c
			obj.addEventListener(ev, fn, false);
		} else if(obj.attachEvent) {
			// metodo IE
			obj.attachEvent('on'+ev, fn);
		} else {
			// se i suddetti metodi non sono applicabili
			// se esiste gia' una funzione richiamata da quel gestore evento
			if(typeof(obj['on'+ev])=='function'){
				// salvo in variabile la funzione gia' associata al gestore
				var f=obj['on'+ev];
				// setto per quel gestore una nuova funzione 
				// che comprende la vecchia e la nuova
				obj['on'+ev]=function(){if(f)f();fn()}
			}
			// altrimenti setto la funzione per il gestore
			else obj['on'+ev]=fn;
		}
	}
	
	
	addEvent(window,'load',showMap);
	addEvent(window,'unload',GUnload);
//]]>
</script>

<div id="google_map" style="text-align:center; width:100%; height:400px; border:none;">
	<img src="<{$xoops_url}>/modules/addresses/images/loading.gif" alt="loading" />
</div>

<br />
<!-- Google Maps - end -->
<{/if}>

<table width="100%" cellspacing="0" border="0">
<tr>
	<td align="center"><!-- include viewlink.html -->
		<{include file="db:addresses_viewaddress.html" link=$link}>
	</td>
</tr>
</table>

<div style="text-align: center; padding: 3px; margin:3px;">
	<{$commentsnav}>
	<{$lang_notice}>
</div>

<div style="margin:3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
	<{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
	<{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
	<{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
<!-- <{include file='db:system_notification_select.html'}> -->
