<table width='100%' cellspacing='1' cellpadding='2' class="outer">
<tr> 
	<td class="even" align='left' colspan="3"><a href='javascript:history.back(1)'><b><{$lang_previous}></b></a></td>
</tr>
<tr> 
	<td class="head" align='left' colspan="3"><{$address.adminlink}><b><{$address.title}></b><{$address.new}><{$address.pop}></td>
</tr>
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_address}></b></td>
	<td class="odd" align='left' width="84%"><{$address.address}></td>
</tr>
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_zip}></b> </td>
	<td class="odd" align='left' width="84%"><{$address.zip}></td>
</tr>
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_city}></b> </td>
	<td class="odd" align='left' width="84%" ><{$address.city}></td>
</tr>  
<{if $address.country != ""}> 
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_country}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><{$address.country}></td>
</tr> 
<{/if}> <{if $address.phone != ""}>
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_phone}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><{$address.phone}></td>
</tr>
<{/if}> <{if $address.mobile != ""}>
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_mobile}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><{$address.mobile}></td>
</tr>
<{/if}> <{if $address.fax != ""}> 
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_fax}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><{$address.fax}></td>
</tr>
<{/if}> <{if $address.contemail != ""}> 
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_contemail}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><a href="mailto:<{$address.contemail}>"><{$address.contemail}></a></td>
</tr>
<{/if}> <{if $address.url != ""}> 
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_website}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><a href="<{$address.url}>" target="_blank"><{$address.url}></a></td>
</tr>
<{/if}> <{if $address.opentime != ""}> 
<tr> 
	<td class="even" align='left' width="16%"><b><{$lang_opened}></b> </td>
	<td class="odd" align='left' width="84%" colspan="2"><{$address.opentime}></td>
</tr>
<{/if}> 
<tr valign="top"> 
	<td class="even" align='left'><b><{$lang_description}></b> </td>
	<td class="odd" align='left' colspan="2"><{$address.description}></td>
</tr>
<{if $address.logourl != ""}>
<tr> 
	<td class="odd" align='center' colspan="3">
		<img src="<{$address.logourl}>" align="center" vspace="3" hspace="3" border="0"/>
	</td>
</tr>
<{/if}>
<tr> 
	<td class="even" align='left' colspan="3"><a href='javascript:history.back(1)'><b><{$lang_previous}></b></a></td>
</tr>
<tr> 
	<td class="head" align='center' colspan="3">
	<a href="<{$xoops_url}>/modules/addresses/address_rate.php?cid=<{$address.cid}>&amp;aid=<{$address.id}>"><{$lang_ratethissite}></a> 
	&nbsp;|&nbsp;
	<a href="<{$xoops_url}>/modules/addresses/address_mod.php?aid=<{$address.id}>"><{$lang_modify}></a> 
	&nbsp;|&nbsp;
	<a href="<{$xoops_url}>/modules/addresses/address_broken.php?aid=<{$address.id}>"><{$lang_reportbroken}></a> 
	&nbsp;|&nbsp;
	<a target="_top" href="mailto:?subject=<{$address.mail_subject}>&amp;body=<{$address.mail_body}>"><{$lang_tellafriend}></a> 
	&nbsp;|&nbsp;
	<a href="<{$xoops_url}>/modules/addresses/address_single.php?cid=<{$address.cid}>&amp;aid=<{$address.id}>"><{$lang_comments}>&nbsp;(<{$address.comments}>)</a>
	&nbsp;|&nbsp;
	<a href="<{$xoops_url}>/modules/addresses/address_print.php?aid=<{$address.id}>" target="_blank"><{$lang_print}></a>
	</td>
</tr>
</table>
